In [26]:
import random
import time
import pandas as pd
import numpy as np
from IPython.display import clear_output, display, HTML

player_list = ['HADI SAMI','TANVIR AHMED SIAM', 'RUMI MINHAZ',
 'MINHAJ HASAN', 'MAZAHRUL ISLAM','SHUVO DAS', 'SHUVO MONDAL', 
'OVI ASHRAFUL', 'MUYEED HASAN','MIR NIAZ AHMED', 
'SABUJ HASAN', 'RIPON DEY', 'EHSAN HAQUE',
'MD SAJOL RANA', 'ASHRAF UDDIN TAFADAR']

def draft_draw(player_list):
    
    df = pd.DataFrame(columns = ['GROUP A','GROUP B', 'GROUP C'])
    count_b = 2
    count_c = 2
    print('\n')
    time.sleep(1)
    #title = HTML('<p style="font-size:20px"><b>!!! WELCOME TO SUSTIAN FANTASY DRAFT 2ND ROUND GROUP DRAW !!!</b></p>')
    #display(title)
    time.sleep(0.5)
    print('Draw commencing....')
    time.sleep(2)
    clear_output()
    
    df = df.append({'GROUP A': 'SHASHWATA', 'GROUP B': 'DIPTO', 'GROUP C': 'AKIB'}, ignore_index = True)
    df.index= np.arange(1, len(df)+1)
    display(df)
    time.sleep(0.5)
    clear_output()
    
    while player_list != []:
        
        print('\n')
        #title = HTML('<p style="font-size:20px"><b>!!! WELCOME TO PHYSICS FANTASY DRAFT GROUP DRAW !!!</b></p>')
        #display(title)
        
        new_player_A = player_list.pop(random.randint(0,len(player_list)-1))
        df = df.append({'GROUP A': new_player_A, 'GROUP B': '---', 'GROUP C': '---'}, ignore_index = True)
        df.index = np.arange(1,len(df)+1)
        display(df)
        time.sleep(0.5)
        clear_output()
        
        print('\n')
        #display(title)
        new_player_B = player_list.pop(random.randint(0,len(player_list)-1))
        df['GROUP B'][count_b] = new_player_B
        display(df)
        count_b += 1
        if player_list != []:
            time.sleep(0.5)
            clear_output()
        else:
            time.sleep(0.5)
            break
    
        
        print('\n')
        #display(title)
        new_player_C = player_list.pop(random.randint(0,len(player_list)-1))
        df['GROUP C'][count_c] = new_player_C
        display(df)
        count_c += 1
        if player_list != []:
            time.sleep(0.5)
            clear_output()
        else:
            time.sleep(0.5)
            break
 
        continue
    
    clear_output()
    print('\n')
    display(HTML('<p style="font-size:20px"><b>SUSTIAN FANTASY DRAFT 2ND ROUND GROUPS:</b></p>'))
    display(df)

In [27]:
draft_draw(player_list)

                GROUP A            GROUP B         GROUP C
1             SHASHWATA              DIPTO            AKIB
2           EHSAN HAQUE       OVI ASHRAFUL  MIR NIAZ AHMED
3          MINHAJ HASAN  TANVIR AHMED SIAM   MD SAJOL RANA
4  ASHRAF UDDIN TAFADAR       SHUVO MONDAL       SHUVO DAS
5           RUMI MINHAZ     MAZAHRUL ISLAM       HADI SAMI
6          MUYEED HASAN          RIPON DEY     SABUJ HASAN

.
.
.
.

In [1]:
#### 3RD ROUND DRAW BELOW FOR 2 GROUPS ####

In [27]:
import random
import time
import pandas as pd
import numpy as np
from IPython.display import clear_output, display, HTML

player_list= ['TANVIR AHMED SIAM', 'RUMI MINHAZ',
 'MINHAJ HASAN', 'MAZHARUL ISLAM','SHUVO DAS', 'SHUVO MONDAL', 
'SABUJ HASAN', 'RIPON DEY', 'EHSAN HAQUE',
'MD SAJOL RANA', 'SHASHWATA SOURAV ROY', 'AKIB ZAMAN']

def draft_draw(player_list):
    
    df = pd.DataFrame(columns = ['GROUP A','GROUP B'])
    count = 1
    print('\n')
    time.sleep(1)
    title = HTML('<p style="font-size:20px"><b>!!! WELCOME TO PHYSICS FANTASY DRAFT GROUP DRAW !!!</b></p>')
    display(title)
    time.sleep(0.5)
    print('Draw commencing....')
    time.sleep(1)
    clear_output()
        
    while player_list != []:
        
        print('\n')
        title = HTML('<p style="font-size:20px"><b>!!! WELCOME TO PHYSICS FANTASY DRAFT GROUP DRAW !!!</b></p>')
        display(title)
        
        new_player_A = player_list.pop(random.randint(0,len(player_list)-1))
        df = df.append({'GROUP A': new_player_A, 'GROUP B': '---'}, ignore_index = True)
        df.index = np.arange(1,len(df)+1)
        display(df)
        time.sleep(0.5)
        clear_output()
        
        print('\n')
        display(title)
        new_player_B = player_list.pop(random.randint(0,len(player_list)-1))
        df['GROUP B'][count] = new_player_B
        display(df)
        count += 1
        if player_list != []:
            time.sleep(0.5)
            clear_output()
        else:
            time.sleep(0.5)
            
            break
    
        continue
    
    clear_output()
    print('\n')
    display(HTML('<p style="font-size:15px"><b>SUSTIAN FANTASY DRAFT 3RD ROUND GROUPS:</b></p>'))
    display(df)

In [28]:
draft_draw(player_list)

                GROUP A            GROUP B
1        MAZHARUL ISLAM         AKIB ZAMAN
2           EHSAN HAQUE        RUMI MINHAZ
3          MINHAJ HASAN          SHUVO DAS
4         MD SAJOL RANA        SABUJ HASAN
5  SHASHWATA SOURAV ROY  TANVIR AHMED SIAM
6          SHUVO MONDAL          RIPON DEY

...

...