In [1]:
import random
import time
import pandas as pd
import numpy as np
from IPython.display import clear_output, display, HTML

player_list= ['ADIL','SHAMIM','SHUVO', 'SAJOL', 'REDOWAN', 'DIGANTA', 'KONOK', 'MAHED', 'ANKAN', 'RUMI', 'ADNAN', 'SHASHWATA']

def draft_draw(player_list):
    
    df = pd.DataFrame(columns = ['GROUP A','GROUP B'])
    count = 1
    print('\n')
    time.sleep(7)
    title = HTML('<p style="font-size:20px"><b>!!! WELCOME TO PHYSICS FANTASY DRAFT GROUP DRAW !!!</b></p>')
    display(title)
    time.sleep(0.5)
    print('Draw commencing....')
    time.sleep(2)
    clear_output()
        
    while player_list != []:
        
        print('\n')
        title = HTML('<p style="font-size:20px"><b>!!! WELCOME TO PHYSICS FANTASY DRAFT GROUP DRAW !!!</b></p>')
        display(title)
        
        new_player_A = player_list.pop(random.randint(0,len(player_list)-1))
        df = df.append({'GROUP A': new_player_A, 'GROUP B': '---'}, ignore_index = True)
        df.index = np.arange(1,len(df)+1)
        display(df)
        time.sleep(3.5)
        clear_output()
        
        print('\n')
        display(title)
        new_player_B = player_list.pop(random.randint(0,len(player_list)-1))
        df['GROUP B'][count] = new_player_B
        display(df)
        count += 1
        if player_list != []:
            time.sleep(3.5)
            clear_output()
        else:
            time.sleep(0.5)
            break
    
        continue
    
    clear_output()
    print('\n')
    display(HTML('<p style="font-size:20px"><b>FINAL GROUPS:</b></p>'))
    display(df)

.

.

.

.

.

.

.

In [62]:
draft_draw(player_list)

   GROUP A    GROUP B
1    SAJOL      SHUVO
2    KONOK      MAHED
3   SHAMIM  SHASHWATA
4     ADIL    REDOWAN
5  DIGANTA      ADNAN
6    ANKAN       RUMI

.

.

.

.

.

.

.

.

.

.